<div class="card">
    <img src="/logo.png">
    <h1>Bot Net</h1>
    <a href="https://slack.com/oauth/authorize?scope=commands&client_id=19358800983.40999931552"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    <div class="description">
        <p>BotNet is the coolest new addition to your networking stack. Use many of your favorite command line utilities right within Slack for everyone to see.</p>
        <p>Type things like <code>/dns</code>, <code>/domain</code>, <code>/whois</code>, <code>/ping</code> to perform various networking task right in Slack, so that everyone can see</p>
    </div>
    <div class="demo-section">
        <img class="demo" src="/demo.gif"/>
    </div>
    <div>
        <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text=Net%20tools%20in%20Slack!&url=https%3A%2F%2Fbotnet.awebots.com&via=hugo__df">
    Tweet</a>
    </div>
    <script>window.twttr = (function(d, s, id) { var js, fjs =
d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id))
return t; js = d.createElement(s); js.id = id; js.src =
"https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
  t._e = []; t.ready = function(f) { t._e.push(f); };
  return t; }(document, "script", "twitter-wjs"));</script>
</div>
