<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Awebots - Bot Net</title>
    <meta name="author" content="Hugo Di Francesco, Wilhelm Klopp - Awebots">
    <meta name="description" content="BotNet - networking in Slack">
    <meta name="keywords" content="bot, net, webdev, efficiency">
    <link rel='stylesheet' href='/app.css' />
    <link rel="apple-touch-icon" href="/logo.png">
    <link rel="shortcut icon" href="logo.png" />
  </head>
  <body>
      <nav class="nav">
        <div class="nav-inner">
              <a href="http://awebots.com" class="awebots">awebots</a>
              <span class="nav-right">
                <a class="nav-link" href="http://awebots.com">Bots</a>
                <a class="nav-link" href="http://awebots.com">About us</a>
              </span>
         </div>
      </nav>
      <div class="page">
          <%= yield %>
        </div>
        <div class="footer" style="font-family: monospace">
            <a href="http://twitter.com/hugo__df">made by hugo__df</a> <a href="http://twitter.com/wilhelmklopp">&amp; wilhelmklopp</a>
            <div style="float: right;"><a href="/privacy">privacy policy</a></div>
            <div style="float: right;margin-right: 20px;"><a href="/support">support</a></div>
        </div>
  </body>
</html>
