<div class="privacy-policy">
    <a href="/">&larr; Back to Bot Net</a>
    <h1>Privacy Policy</h1>
    <p>The whole premise of Bot Net is not to store user data, and to keep most of the User Experience within Slack. The absolute minimum amount of data is stored for the purpose of interacting with the Slack API. Additionally, this project is open source. For more details check <a href="https://github.com/HugoDF/botnet/">https://github.com/HugoDF/botnet/.</a></p>
    <h2>Stored Data</h2>
    <p>No data is store, all the flows go through Slack's integration system</p>
    <h2>Explicitly NOT stored data</h2>
    <p>By design, Bot Net has very little access to your team's data: Bot Net cannot view a lot of information about your team, it cannot view any activities in any of the channels and it also does not have access to any of your files. The only data it can access is the data that you are sending via the slash command (/command_name url). In this example Bot Net will receive the text of the slash command, namely 'url'. This data which you pass to Bot Net is not stored in ANY way! It is processed "on-the-fly" and then returned to you.</p>
    <h2>Third Party Services</h2>
    <p>Bot Net is run on the Heroku Platform. Please refer to the Heroku Privacy Policy for more details: <a href="https://www.heroku.com/policy/privacy">https://www.heroku.com/policy/privacy</a>
    <p>London Tube uses Cloudflare for some security features and threat prevention. Please refer to the Cloudflare Privacy Policy for more details: <a href="https://www.cloudflare.com/security-policy/">https://www.cloudflare.com/security-policy/</a></p>
    <h2>Advertising</h2>
    <p>London Tube does not display any advertisements, and does not share any of the data it has with advertisers.</p>
    <h2>Policy</h2>
    <p>This privacy policy may change over time.</p>
</div>
