<div class="privacy-policy">
    <div style="text-align: center; min-height: 600px; display: table; width: 100%;">
      <div style="display: table-cell; vertical-align: middle;">
        <h1>Success!</h1>
        <h2 style="line-height: 2">You can now use <code>/dns</code>, <code>/ping</code>, <code>/domain</code> and <code>/whois</code></h2>
        <h2><a href="/">Back to Bot Net</a></h2>
        <a class="twitter-share-button"
        href="https://twitter.com/intent/tweet?text=Net%20tools%20in%20Slack!&url=https%3A%2F%2Fbotnet.awebots.com&via=hugo__df">
      Tweet</a>
      </div>
    </div>
    <script>window.twttr = (function(d, s, id) { var js, fjs =
d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id))
return t; js = d.createElement(s); js.id = id; js.src =
"https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
  t._e = []; t.ready = function(f) { t._e.push(f); };
  return t; }(document, "script", "twitter-wjs"));</script>

    </div>
</div>
