<div class="privacy-policy" style="min-height: 600px;">
    <a href="/">&larr; Back to Bot Net</a>
    <h1 style="margin-top: 100px;">Support</h1>
    <p>You can contact us at <a href="mailto:team@awebots.com">team@awebots.com</a> with any issues you have with Bot Net.</p>
    <h1 style="margin-top: 100px">FAQs</h1>
    <p>Bot Net is quite simple so no questions yet. They will appear here when they get asked :)</p>
</div>
